.App {
  text-align: center;
}
.App-logo {
  height: 50vmin;
  width: 10rem;
}
.Container {
  margin: 0 auto;
  max-width: 80rem;
  width: 90%;
}
.FlexContainer {
  display: flex;
  flex-wrap: nowrap;
}
.FlexContainer .FlexItem {
  width: 100%;
  margin: 0.3rem;
  font-size: 0.89rem;
}