.App {
  text-align: center;
}
.App-logo {
  height: 50vmin;
  width: 10rem;
}
.Container {
  margin: 0 auto;
  max-width: 80rem;
  width: 80%;
}

/* Search */
.InputField {
  background: #7D94AA url(img/search.svg) no-repeat left 1.2rem center;
  border: 0;
  width: 100%;
  padding: 1.8rem 2.8rem;
  border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  -moz-border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  -webkit-border-radius: 0.4rem 0.4rem 0.4rem 0.4rem;
  font-size: 1.3rem;
  color: white;
}
.InputField::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B7C1CD;
  font-size: 1.3rem;
  opacity: 1; /* Firefox */
}
.InputField::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B7C1CD;
}
.InputField::-ms-input-placeholder { /* Microsoft Edge */
  color: #B7C1CD;
}
input.InputField[type=search]:focus{
  outline-style: none;
  background-color: #B3BECA;
}

/* Search Results */
.ResultsWrap {
  position: relative;
  margin: 0 auto;
}
.SearchResultsList{
  background-color: white;
  padding: 0.6rem 1.25rem;
  list-style: none;
  text-align: left;
  width: 100%;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 10000;
}
.SearchResultItem{
  border-bottom: 0.06rem solid grey;
  padding: 0.75rem 0;
}
.display-none{
  display: none;
}

/* History */
.App .HistoryWrap{
  background: #2B4B7B;
  margin-top: 2.5rem;
}
.SearchHistoryList{
  list-style: none;
  padding: 1.875rem 0;
}
.SearchHistoryItem{
  padding: 1.25rem 0;
  color: white;
}
.SearchHistoryItem:hover, 
.SearchHistoryItem:focus {
  background-color: #3A5780;
} 
.ActiveListItem{
  background-color: #3A5780;
}
.SearchHistoryItem{
  text-align: left;
  position: relative;
  overflow: hidden;
}
.DeleteBtn {
  display: inline;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -5rem;
  background-color:#793953;
  padding: 1.25rem;
  cursor: pointer;
  transition: all .2s ease-in;
}
.SearchHistoryItem:hover .DeleteBtn, 
.SearchHistoryItem:focus .DeleteBtn{
  right: 0;
}
